*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*
.heading{
  color: #f1991f;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Playfair Display', serif;
} */

/* h1{
  background-color: rgb(28, 190, 190);
  border-radius: 30px;
  display: inline;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* div{
  height: 100vh;
  display: flex; 
   flex-direction: column; 
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: #868686;
  width: 100%;
}

h1{
  font-size: 80px;
}
input{
  outline: none;
  border: none;
  padding: 10px 20px;
  margin: 20px 0px;
  text-align: center;
  display: block;
}
button{
  line-height: 24px;
  font-size: 30px;
  padding: 5px 20px;
  background:#9b59b6;
  border: 2px solid rgb(161, 153, 161);
  color: #fff;
  cursor: pointer;
  outline:none;
  margin: 2px;
  border-radius: 5px;
  text-transform: uppercase;
} */


.Nav_style{
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: space-around;
  line-height: 60px;
  
}

a{
  font-size: 30px;
  text-decoration: none;
}
a.active_class{
  color: rgb(63, 194, 119);
}

.searchbar{
  width: 50%;
  height: auto;
  margin: 0px auto;
  text-align: center;
}
.searchbar input{
  outline: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 30px 0px;
  text-align: center;
  border: 1px solid black;
  font-weight: bold;
}